# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore SQLite database
db.sqlite3

# Ignore local environment variables
.env

# Ignore static files collected from Django
/staticfiles/
/media/
 
